<div 
style = "display:none"
data-type="usda_branded"
dbId = ""
id = 'div__hidden-saved-entry-usda_branded' class = 'border rounded m-3 p-3'>
    <div class = 'd-flex justify-content-start'>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x svg__x-clicker" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
    </div>
    <div class = 'row'>
        <div class = 'col-8'>
            <div class = 'row'>
                <div class = 'col-6'>
                    <p class = 'p__saved-entry-text'>
                        <strong>Brand Owner: </strong> <span class = 'span__brand-owner'></span>
                    </p>
                    <p class = 'p__saved-entry-text'>
                        <strong>Serving Size: </strong><span class = 'span__serving-size'></span><span class = "span__serving-size-unit"></span>
                    </p>
                    <p
                    class = 'p__saved-entry-text'
                    >
                        <strong>Fiber:</strong><span class = 'span__fiber-amount'></span> <span class = "span__fiber-unit">g</span>
                        <span style="display:none;" class ='span__fiber-amount span__hidden-fiber-amount'></span>
                    </p>
                    <p
                    class = 'p__saved-entry-text'
                    >
                        <strong>Fat:</strong><span class = 'span__fat-amount'></span><span class = "span__fat-unit">g</span>
                        <span style="display:none;" class ='span__fat-amount span__hidden-fat-amount'></span>
                    </p>
                </div>
                <div class = 'col-6'>
                    <p class = 'p__saved-entry-text'>
                        <strong>Description: </strong> <span class = "span__description"></span>
                    </p>
                    <p class = 'p__saved-entry-text'>
                        <strong>Kilocalories: </strong><span class = 'span__calorie-amount'></span>
                        <span style="display:none;" class = "span__calorie-amount span__hidden-calorie-amount"></span>
                    </p>
                    <p
                    class = 'p__saved-entry-text'
                    >
                        <strong>Potassium:</strong><span class = 'span__potassium-amount'></span><span class = "span__potassium-unit">g</span>
                        <span style="display:none;" class ='span__potassium-amount span__hidden-potassium-amount'></span>
                    </p>
                    <p
                    class = 'p__saved-entry-text'
                    >
                        <strong>Protein:</strong><span class = 'span__protein-amount'></span><span class = "span__protein-unit">g</span>
                        <span style="display:none;" class ='span__protein-amount span__hidden-protein-amount'></span>
                    </p>
                </div>
            </div>
        </div>
        <div class = 'col-4'>
            <div class = 'row'>
                <div class = 'col-6'>
                    <img class = "img img__saved-entry" alt ='./imgs/unknown.jpeg'
                        onerror="this.onerror=null;this.src='./imgs/unknown.jpeg'"
                    >
                </div>
                <div class = 'col-6'>
                    <div class = 'form-floating'>
                        <input class = 'form-control input__saved-entry-qty' type="number" value="1" min="1" max="99"
                        >
                        <label>Qty</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>