<div id = "div__graph-container">
    <div class = 'row'>
        <div class= 'col-6'>
            <div class = 'div__graph-section text-center 
                d-flex justify-content-end
            '
             data-name ='fat' data-limit='1200'
            >
                <div class = 'div__chart-holder' style="width:20rem;">
                    <canvas class = 'canvas__chart' id = "canvas__fat-totals"></canvas>
                    <h2 class = 'text__graph-title'>
                        Fat
                    </h2>
                    <smalL>
                        Limit: 1200
                    </small>
                    <br>
                    <small>
                        Used: 
                        <span id = "span__total-fat" class ='text-success'>
                            0
                        </span>
                    </small>
                </div>
                <br>
            </div>
        </div>
    <div class= 'col-6'>
        <div class = 'div__graph-section text-center
        d-flex justify-content-start
        ' data-name = "calorie" data-limit ='2300'
        >
            <div class = 'div__chart-holder' style="width:20rem;">
                <canvas class = 'canvas__chart'
                id = "canvas__calorie-totals"></canvas>
                <h2 class = 'text__graph-title'>
                    Calories
                </h2>
                <smalL>
                    Limit: 2300
                </small>
                <br>
                <small>
                    Used: 
                    <span id = "span__total-calorie" class ='text-success'>
                        0
                    </span>
                </small>
            </div>
            <br>
        </div>
    </div>
</div>
<br>
<div class = 'row'>
    <div class= 'col-6'>
        <div class = 'div__graph-section text-center
        d-flex justify-content-end
        ' data-name ='potassium' data-limit='1800'
        >
            <div class = 'div__chart-holder' style="width:20rem;">
                <canvas class = 'canvas__chart' id = "canvas__potassium-totals"></canvas>
                <h2 class = 'text__graph-title'>
                    Potassium
                </h2>
                <smalL>
                    Limit: 1800
                </small>
                <br>
                <small>
                    Used: 
                    <span id = "span__total-potassium" class ='text-success'>
                        0 
                    </span>
                </small>
            </div>
            <br>
        </div>
    </div>
    <div class= 'col-6'>
        <div class = 'div__graph-section text-center
        d-flex justify-content-start
        ' data-name = "fiber" data-limit ='1500'
        >
            <div class = 'div__chart-holder' style="width:20rem;">
                <canvas class = 'canvas__chart'
                id = "canvas__fiber-totals"></canvas>
                <h2 class = 'text__graph-title'>
                    Fiber
                </h2>
                <smalL>
                    Limit: 1500
                </small>
                <br>
                <small>
                    Used: 
                    <span id = "span__total-fiber" class ='text-success'>
                        0 
                    </span>
                </small>
            </div>
            <br>
        </div>
    </div>
</div>