{% extends "./base.html.twig" %}

{% block body %}

<h1 class = 'text-center'>
    About
</h1>
<div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sint eos eum nobis itaque rem, cumque, repudiandae consequatur laborum in quo sit adipisci voluptatem sunt numquam similique suscipit nulla odit.
    </p>
</div>

{% endblock body %}