{% extends "base.html.twig" %}

{% block title %}
    About SWITCH
{% endblock title %}

{% block body %}

<div class = "container">
    <h1 class = 'text-center'>
        About SWITCH
    </h1>
    <p>
        Insert information about the study here. Otherwise, here's some lorem ipsum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque in molestias, reiciendis doloribus voluptate, repudiandae possimus deleniti nemo cum alias atque soluta quisquam porro minima nihil blanditiis nulla omnis quo, cupiditate officiis at nostrum dolorum harum. Tempora iusto laudantium, dicta quasi voluptas dolores nobis eos repellendus modi id similique laboriosam quo obcaecati laborum molestias eaque vitae culpa quam facilis consequatur blanditiis dolorum provident accusantium. Consequuntur soluta delectus velit eius placeat similique asperiores accusantium laboriosam atque reiciendis hic ut cupiditate temporibus, inventore vitae obcaecati, praesentium veritatis adipisci quia blanditiis tempora. Reiciendis natus atque optio non expedita nihil necessitatibus eaque, minus error corporis porro vel aperiam quaerat laborum aliquid debitis dolor voluptas in odit quia. Iusto cum facilis qui impedit in, esse maxime id ut, dolor repellendus autem quibusdam fuga voluptas inventore ab saepe quam alias excepturi, perferendis velit! Veniam quaerat quia, distinctio cumque, obcaecati odit aut ea explicabo deserunt exercitationem laboriosam nemo alias eum voluptatum earum rerum laudantium? Voluptates cumque totam recusandae accusamus fuga ex? Corporis commodi labore, error excepturi velit veniam expedita repellendus? Nulla tempore ea unde nemo quos dolorum, provident consectetur itaque, repudiandae dolor a pariatur odio maxime suscipit inventore atque dicta modi. Quaerat molestiae iure consectetur amet iusto magni. Optio et maxime expedita neque aspernatur ut animi. Ipsum accusamus quidem, architecto saepe adipisci praesentium quisquam harum iste animi nostrum excepturi omnis magnam alias, molestias quo? Dolor eum laborum atque at, nulla expedita velit ad odit nesciunt dignissimos fugiat, consequatur tempora fugit minima ab asperiores omnis maiores beatae labore quod quaerat. Ducimus explicabo velit officiis accusamus corrupti quisquam modi quia perspiciatis reiciendis quis eos esse aspernatur, amet eius minus maiores error eum recusandae incidunt, nemo debitis! Laborum soluta aliquid officiis deserunt. Nam saepe exercitationem, molestias cupiditate voluptatem labore, doloremque culpa aspernatur, dignissimos rerum eius! Facilis minus quos amet ullam?:w

</div>

{% endblock body %}