{% extends "base.html.twig" %}

{% block title %}
    About
{% endblock title %}

{% block body %}
<h1 class = 'text-center'>
    About
</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, cumque esse nesciunt cupiditate inventore nisi quas exercitationem eius voluptates quis, ipsam quaerat delectus illum magni, ut voluptatem a dignissimos dolorem.
</p>
{% endblock body %}