{% extends 'base.html.twig' %}

{% block title %}
    Food
{% endblock %}

{% block body %}

<div>

    <h1 class = 'text-center'>
        Foods
    </h1>
    <div>
        <h5>
            By Date
        </h5>
        <div>
            {% for date in dates %}
                <div class = 'card p-3 m-3'>
                    <a href = "/food/date/{{date}}/">
                        Date: {{date | date('m-d-y')}}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
