{% extends 'base.html.twig' %}

{% block title %}
    Food
{% endblock %}

{% block body %}

<div>

    <h1 class = 'text-center'>
        Foods
    </h1>
    <div>
        <h5>
            Your Entered Foods
        </h5>
        <div>
            {% for food in menustatFoods %}
            <div class = 'border p-3 mb-3'>
                <a href="/food/show/menustat/{{food.id}}">View</a>
                <p>Food Name: {{food.Description}}</p>
                <p>Food Id: {{food.id}}</p>
                <a href="/food/delete/{{food.id}}">Delete?</a>
            </div>
            {% endfor %}
        </div>
    </div>


    <h5>
        <a href="/food/create">Create</a>
    </h5>

</div>

{% endblock %}
