{% extends 'base.html.twig' %}

{% block title %}
    Food
{% endblock %}

{% block body %}

<div>

    <h1 class = 'text-center'>
        Foods
    </h1>
    <div {{react_component('Calendar', {'marks':dates})}} ></div>
    <div>
        <h5>
            Entries By Date
        </h5>
        <div>
            {% for date in dates %}
                <div class = 'container border m-3 p-3'>
                    <a href = "/food/date/{{date}}/" >
                        Date: {{date | date('m-d-y')}}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
