<div class = 'row'>
    <div class = 'col-6'>
        <p>
            <strong>
                Restaurant:
            </strong>
            <span class = 'span__restaurant'>[restaurant]</span>
        </p>
        <p>
            <strong>
                Serving Size:
            </strong>
            <span class = 'span__serving-size'>[serving_size] </span><span class = "span__serving-size-unit">[serving_size_unit]</span>
        </p>
        <p>
            <strong>
                Protein:
            </strong>
            <span class = 'span__protein-amount'>[protein_amount]</span>
            <span class = 'span__protein-unit'> g</span>
        </p>
        <p>
            <strong>
                Potassium
            </strong>
            <span class = 'span__potassium-amount'>[potassium_amount]</span>
            <span class = 'span__potassium-unit'> g</span>
        </p>
    </div>
    <div class = 'col-6'>
        <p>
            <strong>
                Carbohydrates: 
            </strong>
            <span class = 'span__carbohydrate-amount'>[carbohydrate_amount]</span>
            <span class = 'span__carbohydrate-unit'> g</span>
        </p>
        <p>
            <strong>
                Fat: 
            </strong>
            <span class = 'span__fat-amount'>[fat_amount]</span>
            <span class = 'span__fat-unit'> g</span>
        </p>
        <p>
            <strong>
                KCals:
            </strong>
            <span class = 'span__calorie-amount'>[calorie_amount]</span> <span class = "span__calorie-unit"> kcals</span>
        </p>
        <p>
            <strong>
                Fiber
            </strong>
            <span class = 'span__fiber-amount'>[fiber_amount]</span>
            <span class = 'span__fiber-unit'> g</span>
        </p>
    </div>
</div>