<tr class = "tr__food-result-entry" onclick="displayMore(this)" data-id ='[id]' data-img-path ='[img_path]'>
    <th scope = "row">[index]</th>
    <td>
        <p class = 'p__search-result-text mb-0'>
            <strong>Restaurant: </strong>[restaurant]
        </p>
        <p class = 'p__search-result-text mt-0'>
            <strong>Description: </strong>[description]
        </p>
        <p class = 'p__search-result-text mt-0'>
            <strong>id: </strong> <span class = "dbId">[id]</span>
        </p>
    </td>
    <td class = 'text-center'>
        <img src = "[img_path]" alt = "[description]" 
        onerror="this.onerror=null;this.src='./imgs/unknown.jpeg'"
        class = "img img__search-result">
    </td>
</tr>