<div class = 'row'>
    <div class = 'col'>
        <p>
            <strong>
                Serving Size:
            </strong>
            <span class = 'span__serving-size'>[serving_size]</span> g
        </p>
        <p>
            <strong>
                Protein:
            </strong>
            <span class = 'span__protein-amount'>[protein_amount]</span>
            <span class = 'span__protein-unit'> [protein_unit]</span>
        </p>
        <p>
            <strong>
                Potassium
            </strong>
            <span class = 'span__potassium-amount'>[potassium_amount]</span>
            <span class = 'span__potassium-unit'> [potassium_unit]</span>
        </p>
    </div>
    <div class = 'col'>
        <p>
            <strong>
                Carbohydrates: 
            </strong>
            <span class = 'span__carbohydrate-amount'>[carbohydrate_amount]</span>
            <span class = 'span__carbohydrate-unit'> [carbohydrate_unit]</span>
        </p>
        <p>
            <strong>
                Fat: 
            </strong>
            <span class = 'span__fat-amount'>[fat_amount]</span>
            <span class = 'span__fat-unit'> [fat_unit]</span>
        </p>
        <p>
            <strong>
                KCals:
            </strong>
            <span class = 'span__calorie-amount'>[energy_amount]</span> 
            <span class = 'span__calorie-unit'> kcals</span>
        </p>
        <p>
            <strong>
                Fiber
            </strong>
            <span class = 'span__fiber-amount'>[fiber_amount]</span>
            <span class = "span__fiber-unit">[fiber_unit]</span>
        </p>
    </div>

</div>